{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}
<body>

<div>
    &nbsp
</div>
<h2>Congrats! You've had {{cups}} cups of tea </h2>
<h3>You are level: {{level}}</h3>
<div>
    &nbsp
    &nbsp
    &nbsp
    &nbsp
</div>
<h4><i>Drink more tea to level up!</i></h4>
<span onMouseOver="document.pic1.src='http://i.imgur.com/x4Z93Nt.gif'"
onMouseOut="document.pic1.src = 'http://i.imgur.com/x4Z93Nt.gif'">
<img src="http://i.imgur.com/x4Z93Nt.gif" height="150" width="200" name="pic1">
</span>

</body>

{% endblock %}
